<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <tab id="magezil" sortOrder="1">
            <label>Magezil</label>
        </tab>
        <section id="magezil_customer_block" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
            <class>separator-top</class>
            <label>Customer Block</label>
            <tab>magezil</tab>
            <resource>Magezil_CustomerBlock::config_customer_block</resource>
            <group id="general" type="text" sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>General Configuration</label>
                <field id="enable" type="select" sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Module Enable</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
            </group>
            <group id="default_values" type="text" sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Default Values</label>
                <field id="is_blocked" type="select" sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Customer is Blocked</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <comment>Default lock value when registering customer.</comment>
                </field>
                <field id="can_purchase" type="select" sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Customer Can Purchase</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <comment>Default purchase amount when registering customer.</comment>
                </field>
                <field id="has_wishlist" type="select" sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Customer Has Wishlist</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <comment>Default wishlist value when registering customer.</comment>
                </field>
                <field id="has_compare_list" type="select" sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Customer Has Compare List</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <comment>Default compare list value when registering customer.</comment>
                </field>
                <field id="can_review" type="select" sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Customer Can Review</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <comment>Default product review value when registering customer.</comment>
                </field>
                <depends>
                    <field id="magezil_customer_block/general/enable">1</field>
                </depends>
            </group>
        </section>
    </system>
</config>